{% extends "base.html" %}

<!-- {% block styling %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %} -->

{% block navbar_items %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link active fs-5" aria-current="page" href="/home">Domov</a>
    </li>
</ul>
<div class="d-flex">
    <button class="btn btn-light fs-5">Odhlásiť sa</button>
</div>
{% endblock %}

{% block content %}
    <div class="row justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-4 text-start gap-3">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                    <div class="alert alert-danger d-flex align-items-center justify-content-between" role="alert">
                        <span class="fs-5">{{ message }}</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% endwith %}
            <form action="" method="POST" enctype="multipart/form-data">
                <div class="form-group mb-4 text-left input-group-lg">
                    <label for="pdf_file" class="form-label fs-5">Nahrajte PDF súbor</label>
                    <input 
                        class="form-control form-control-lg"
                        name="pdf_file"
                        id="pdf_file"
                        type="file"
                        accept=".pdf, .PDF"
                        placeholder="Súbor ešte nebol nahratý"
                    >
                </div>
                <button type="submit" class="btn btn-primary btn-lg w-100">Nahrať súbor</button>
            </form>
        </div>
    </div>
{% endblock %}