{% extends "base.html" %}

{% block styling %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-4 text-start">
                <form>
                    <div class="mb-4 text-left input-group-lg">
                        <label for="username" class="form-label fs-5">Používateľské meno</label>
                        <input type="email" class="form-control" id="username">
                    </div>
                    <div class="mb-4 text-left input-group-lg">
                        <label for="password" class="form-label fs-5">Heslo</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg w-100">Prihlásiť sa</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}